/*
Theme name: El Portal
Theme URI: http://www.elportalalaconsciencia.org/
Description: A derivative theme of GreenLeaf, a free professional WordPress theme
Version: 0.1
Author: J&oslash;rgen Mortensen
Author URI: http://www.jorgenmortensen.eu/
Tags: fixed-width, two-columns, right-sidebar, sticky-post, theme-options
*/

@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500);
@import url(http://fonts.googleapis.com/css?family=Terminal+Dosis+Light&v1);
/* font-family: 'Maven Pro', sans-serif; */
/* font-family: 'Terminal Dosis Light', arial, serif; */

/* Reset default browser CSS. Based on work by Eric Meyer
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */


/* Elements */

html {
	overflow-y: scroll !important;
}

body {
	font: 62.5% arial, tahoma, verdana, helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #5E5E5E;
	background: #fff url(images/bg-body.gif) repeat-y center top;
}



/* Body */

#wrap {
	max-width: 960px;
	height: 100%;
	margin: 25px auto;
	padding: 0 10px;
	/*border: 1px solid #974578;*/
}
#col-left {
	clear: both;
	float: left;
	/*max-width: 615px;*/
	width: 65%;
	padding: 40px 0 10px 0;
	margin: 0 0 30px 10px;
}
/*#col-left #bg-entry-top,
#col-left #bg-entry-btm {
	max-width: 621px;
	height: 31px;
	padding: 0;
}
#col-left #bg-entry-top {
	margin: 20px 0 0;
	background: transparent url(images/bg-entry-top.png) no-repeat center center;
}
#col-left #bg-entry-btm {
	margin: 0;
	background: transparent url(images/bg-entry-btm.png) no-repeat center center;
}*/
#col-left #bg-entry-body {
	/*max-width: 621px;*/
	width: 100%;
	margin: 2em 0;
	padding: 3em 0;
	/*background: transparent url(images/bg-entry-body.png) repeat-y center;*/
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #B6B6B5;
	background-color: #fff;
}
#col-right {
	float: right;
	/*max-width: 300px;*/
	width: 30%;
	padding: 0 0 10px 0;
	margin: 110px 10px 20px 0;
}
/*#col-right #bg-sidebar-top,
#col-right #bg-sidebar-btm,
#col-right #bg-sidebar2-top,
#col-right #bg-sidebar2-btm {
	max-width: 303px;
	height: 30px;
	padding: 0;
}
#col-right #bg-sidebar-top,
#col-right #bg-sidebar2-top {
	margin: 12px 0 0;
	background: transparent url(images/bg-sidebar-top.png) no-repeat center center;
}
#col-right #bg-sidebar-btm,
#col-right #bg-sidebar2-btm {
	margin: 0 0 30px 0;
	background: transparent url(images/bg-sidebar-btm.png) no-repeat center center;
}
#col-right #bg-sidebar-body,
#col-right #bg-sidebar2-body {
	max-width: 303px;
	margin: 0;
	padding: 0;
	background: transparent url(images/bg-sidebar-body.png) repeat-y center;
}*/
#col-right #bg-sidebar-body,
#col-right #bg-sidebar2-body {
	/*max-width: 303px;*/
	margin: 2em 0;
	padding: 3em 0;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #B6B6B5;
	background-color: #fff;
}
@media only screen and (max-width: 640px) {
	#col-right,
	#col-left {
		width: 100%;
	}
	#col-left {
		margin-left: 0;
	}
	#col-right {
		margin-right: 0;
		margin-top: 0;
	}
}


/* Header */

#header {
	max-width: 960px;
	width: 100%;
	height: auto;
	/*background: transparent url(images/bg-menu.jpg) no-repeat right bottom;*/
	float: left;
}
#header .language {
	float: right;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
	font-size: 2em;
}
#header .language ul {
	padding: 0;
	margin-top: -20px;
}
#header .language li {
	list-style: none;
}
#header .language li.active {
	display: none;
}
#header .language a:hover,
#header .language a:focus {
	color: #5E5E5E;
	text-decoration: none;
}
#header #bg-logo {
	position: relative;
	float: left;
	margin-top: 10px;
	max-width: 600px;
	width: 100%;
	min-height: 239px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	z-index: 999;
	-webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.6s ease-out;
	-ms-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
	background: #84386c;
	background: url(images/bg-logo.png) no-repeat left center, -moz-linear-gradient(-45deg,  #84386c 0%, #a25d8a 12%, #903c78 19%, #84386c 57%, #a5658e 66%, #903c78 94%, #873b6f 100%, #aa6991 100%);
	background: url(images/bg-logo.png) no-repeat left center, -webkit-gradient(linear, left top, right bottom, color-stop(0%,#84386c), color-stop(12%,#a25d8a), color-stop(19%,#903c78), color-stop(57%,#84386c), color-stop(66%,#a5658e), color-stop(94%,#903c78), color-stop(100%,#873b6f), color-stop(100%,#aa6991));
	background: url(images/bg-logo.png) no-repeat left center, -webkit-linear-gradient(-45deg,  #84386c 0%,#a25d8a 12%,#903c78 19%,#84386c 57%,#a5658e 66%,#903c78 94%,#873b6f 100%,#aa6991 100%);
	background: url(images/bg-logo.png) no-repeat left center, -o-linear-gradient(-45deg,  #84386c 0%,#a25d8a 12%,#903c78 19%,#84386c 57%,#a5658e 66%,#903c78 94%,#873b6f 100%,#aa6991 100%);
	background: url(images/bg-logo.png) no-repeat left center, -ms-linear-gradient(-45deg,  #84386c 0%,#a25d8a 12%,#903c78 19%,#84386c 57%,#a5658e 66%,#903c78 94%,#873b6f 100%,#aa6991 100%);
	background: url(images/bg-logo.png) no-repeat left center, linear-gradient(135deg,  #84386c 0%,#a25d8a 12%,#903c78 19%,#84386c 57%,#a5658e 66%,#903c78 94%,#873b6f 100%,#aa6991 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84386c', endColorstr='#aa6991',GradientType=1 );
}
#header #bg-logo:hover,
#header #bg-logo:focus {
	background: #84386c;
	background: url(images/bg-logo.png) no-repeat left center, -moz-linear-gradient(-45deg,  #84386c 0%, #a25d8a 8%, #903c78 19%, #84386c 52%, #a5658e 60%, #903c78 83%, #873b6f 100%, #aa6991 100%);
	background: url(images/bg-logo.png) no-repeat left center, -webkit-gradient(linear, left top, right bottom, color-stop(0%,#84386c), color-stop(8%,#a25d8a), color-stop(19%,#903c78), color-stop(52%,#84386c), color-stop(60%,#a5658e), color-stop(83%,#903c78), color-stop(100%,#873b6f), color-stop(100%,#aa6991));
	background: url(images/bg-logo.png) no-repeat left center, -webkit-linear-gradient(-45deg,  #84386c 0%,#a25d8a 8%,#903c78 19%,#84386c 52%,#a5658e 60%,#903c78 83%,#873b6f 100%,#aa6991 100%);
	background: url(images/bg-logo.png) no-repeat left center, -o-linear-gradient(-45deg,  #84386c 0%,#a25d8a 8%,#903c78 19%,#84386c 52%,#a5658e 60%,#903c78 83%,#873b6f 100%,#aa6991 100%);
	background: url(images/bg-logo.png) no-repeat left center, -ms-linear-gradient(-45deg,  #84386c 0%,#a25d8a 8%,#903c78 19%,#84386c 52%,#a5658e 60%,#903c78 83%,#873b6f 100%,#aa6991 100%);
	background: url(images/bg-logo.png) no-repeat left center, linear-gradient(135deg,  #84386c 0%,#a25d8a 8%,#903c78 19%,#84386c 52%,#a5658e 60%,#903c78 83%,#873b6f 100%,#aa6991 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84386c', endColorstr='#aa6991',GradientType=1 );
}
#header #bg-logo #logo {
	max-width: 543px;
	min-height: 202px;
	display: block;
	border: 4px solid #fff;
	color: #fff;
	margin: 4px;
	padding: 10px 20px;
	-webkit-border-radius: 18px 18px 18px 18px;
	border-radius: 18px 18px 18px 18px;
	background: transparent url(images/el-portal-logo-loto.png) no-repeat left center;
	text-shadow: 1px 1px 2px #000;
}
#header #bg-logo #logo:hover,
#header #bg-logo #logo:focus {
	text-shadow: 1px 1px 0px #000;
}
#header #bg-logo #logo h1 {
	text-align: right;
	font-size: 70px;
	line-height: 54px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
}
#header #bg-logo #logo h1 span {
	font-size: 52px;
}
#header #bg-logo #logo h1 span.eng {
	font-size: 48px;
}
#header #bg-logo #logo h1 a {
	color: #fff;
	/*width: 571px;
	height: 237px;
	margin: 0;
	padding: 0;
	background: transparent url(images/el_portal-logo-web.png) no-repeat center top;
	display: block;
	text-indent: -9999px;
	float: left;*/
}
#header #bg-logo #logo h1 a:hover,
#header #bg-logo #logo h1 a:focus {
	text-decoration: none;
}
#header #logo a:hover {
	background-position: bottom;
}
#header .description {
	text-align: right;
	font-size: 28px;
	line-height: 1;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
	margin-top: 10px;
	/*text-indent: -9999px;*/
}
@media only screen and (max-width: 640px) {
	#header #bg-logo #logo {
		background-image: none;
	}
}
@media only screen and (max-width: 320px) {
	#header #bg-logo #logo h1 {
		font-size: 60px;
	}
	#header #bg-logo #logo h1 span {
		font-size: 44px;
		line-height: 34px;
	}
	#header #bg-logo #logo h1 span.eng {
		font-size: 34px;
		line-height: 24px;
	}
	#header .description {
		font-size: 24px;
	}
}


/* Navigation */
#menu-wrapper {
	float: right;
	max-width: 660px;
	height: auto;
	margin-top: -180px;
	border: 4px solid #83396B;
	-webkit-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	background: #f2e8f3;
	background: -moz-linear-gradient(-45deg,  #f2e8f3 0%, #f2e8f3 34%, #fafcfb 39%, #f2e8f3 49%, #f2e8f3 87%, #fafcfb 89%, #f2e8f3 92%, #f2e8f3 92%, #f2e8f3 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f2e8f3), color-stop(34%,#f2e8f3), color-stop(39%,#fafcfb), color-stop(49%,#f2e8f3), color-stop(87%,#f2e8f3), color-stop(89%,#fafcfb), color-stop(92%,#f2e8f3), color-stop(92%,#f2e8f3), color-stop(100%,#f2e8f3));
	background: -webkit-linear-gradient(-45deg,  #f2e8f3 0%,#f2e8f3 34%,#fafcfb 39%,#f2e8f3 49%,#f2e8f3 87%,#fafcfb 89%,#f2e8f3 92%,#f2e8f3 92%,#f2e8f3 100%);
	background: -o-linear-gradient(-45deg,  #f2e8f3 0%,#f2e8f3 34%,#fafcfb 39%,#f2e8f3 49%,#f2e8f3 87%,#fafcfb 89%,#f2e8f3 92%,#f2e8f3 92%,#f2e8f3 100%);
	background: -ms-linear-gradient(-45deg,  #f2e8f3 0%,#f2e8f3 34%,#fafcfb 39%,#f2e8f3 49%,#f2e8f3 87%,#fafcfb 89%,#f2e8f3 92%,#f2e8f3 92%,#f2e8f3 100%);
	background: linear-gradient(135deg,  #f2e8f3 0%,#f2e8f3 34%,#fafcfb 39%,#f2e8f3 49%,#f2e8f3 87%,#fafcfb 89%,#f2e8f3 92%,#f2e8f3 92%,#f2e8f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2e8f3', endColorstr='#f2e8f3',GradientType=1 );
	position: relative;
	z-index: 10;
}
#menu {
	max-width: 360px;
	height: auto;
	margin: 20px 7% 20px 0;
	padding: 0;
	float: right;
}
#menu ul {
	margin: 0 0 0 15px;
	padding: 0;
	list-style-type: none;
	display: list-item;
}
#menu ul li {
	margin: 0;
	padding: 0;
	display: list-item;
	list-style-image: url(images/bg-li-menu.png);
}
#menu ul li a {
	font-family: 'Terminal Dosis Light', arial, serif;
	font-size: 3em;
	line-height: 155%;
	font-weight: normal;
	color: #939;
	text-shadow: 1px 1px 1px #aaa;
	padding-right: 24px;
	-webkit-transition: color .25s linear;
	-moz-transition: color .25s linear;
	-o-transition: color .25s linear;
	transition: color .25s linear;
	-webkit-transition: background .25s linear;
	-moz-transition: background .25s linear;
	-o-transition: background .25s linear;
	transition: background .25s linear;
	background-position: center center;
}
#menu ul li a:hover,
#menu ul li a:focus {
	color: #B77EA1;
	text-decoration: none;
	/*text-shadow: 1px 1px 1px #666;*/
	background: transparent url(images/bg-menu-hover.png) no-repeat right center;
}
@media only screen and (max-width: 1024px) {
	#menu-wrapper {
		margin-top: -30px;
	}
	#menu {
		margin-top: 50px;
	}
}

#sub-menu {
	display: block;
	float: left;
	max-width: 660px;
	width: 100%;
	height: auto;
	margin: 10px auto 40px;
	padding: 0;
}
#sub-menu ul {
	/*height: 42px;*/
	display: table;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
#sub-menu ul li {
	display: inline-block;
	margin: 0 4px;
	padding: 0;
}
#sub-menu ul li a {
	font-family: 'Terminal Dosis Light', arial, serif;
	font-size: 2em;
	line-height: 2em;
	font-weight: normal;
	color: #5E5E5E;
	text-shadow: 1px 1px 1px #aaa;
	text-transform: uppercase;
	/*letter-spacing: -0.05em;*/
	padding: 7px;
}
#sub-menu ul li a:hover, #sub-menu ul li a:focus {
	color: #8E8E8E;
	text-decoration: none;
	-webkit-transition: color .25s linear;
	-moz-transition: color .25s linear;
	-o-transition: color .25s linear;
	transition: color .25s linear;
}

#social {
	float: right;
	max-width: 424px;
	min-height: 90px;
	margin: -20px 20px 0 auto;
	/*background: transparent url(images/bg-social.png) no-repeat center bottom;*/
	background-color: #fff;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 4px solid #B6B6B5;
	position: relative;
	z-index: 9;
}
#social #subscribe {
	width: 224px;
	height: 34px;
	margin-top: 18px;
	float: left;
	display: inline-block;
}
#social #visit {
	width: 200px;
	height: 34px;
	margin-top: 18px;
	margin-bottom: 20px;
	float: left;
	display: inline-block;
}
#social #subscribe h2, 
#social #visit h2 {
	color: #C1C1C1;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 1.9em;
	text-shadow: none;
}
#social #subscribe ul, 
#social #visit ul {
	margin: -43px auto auto 53px;
}
#social #subscribe ul li, 
#social #visit ul li {
	display: inline;
}
#social #subscribe ul .email a, 
#social #subscribe ul .rss a, 
#social #visit ul .facebook a {
	width: 34px;
	height: 34px;
	margin: 0 6px 0 0;
	float: left;
	display: block;
	text-indent: -9999px;
}
#social #subscribe ul .email a {
	background: transparent url(images/email-icon.gif) no-repeat 0px 0px;
}
#social #subscribe ul .rss a {
	background: transparent url(images/rss-icon.gif) no-repeat 0px 0px;
}
#social #visit ul .facebook a {
	background: transparent url(images/facebook-icon.gif) no-repeat 0px 0px;
}
#social #subscribe ul .email a:hover, #social #subscribe ul .email a:focus,
#social #subscribe ul .rss a:hover, #social #subscribe ul .rss a:focus,
#social #visit ul .facebook a:hover, #social #visit ul .facebook a:focus {
	background-position: 0px -34px;
}
#social #mailform {
	width: 200px;
	height: 150px;
	margin: 35px 0 40px 125px;
	padding: 5px;
	float: left;
	display: block;
	background: transparent url(images/bg-mailform.png) no-repeat center center;
	z-index: 2;
	position: relative;
}
#social #mailform .inner p {
	color: #C1C1C1;
	font-size: 120%;
	margin: 5px 0;
}
#social #mailform .inner .mp-form input {
	width: 156px;
	border: 1px solid #B6B6B5;
}


/* Content */

h2, h3, h4, h5, h6 {
	clear: both;
	color: #668551;
	font-family: 'Terminal Dosis Light', arial, serif;
	font-weight: normal;
	padding: 12px 25px 6px 25px;
}

/*h1 {	font-size: 36px; line-height: 41px; padding: 18px 25px 12px 25px; }*/
.col3 h1 { font-size: 27px; line-height: 31px; padding: 18px 25px 10px 25px; }
h2 {
	font-size: 2.3em;
	line-height: 28px;
	padding: 16px 25px 10px 25px;
	/*text-shadow: 1px 1px 2px #999;*/
}
h3 {	font-size: 2em; line-height: 25px; padding: 14px 25px 10px 25px; }
h4 {	font-size: 1.8em; line-height: 22px; padding: 12px 25px 10px 25px; }
h5 {	font-size: 1.5em; line-height: 19px; padding: 10px 25px 10px 25px; }
h6 {	font-size: 1.2em; line-height: 16px; padding: 8px 25px 10px 25px; }
hr {
	border-bottom: 1px solid #B6B6B5;
	border-top: 0;
	height: 0;
	margin: 30px 28px;
}
p {
	margin: 0;
	padding: 2px 25px 16px 25px;
}
a {
	color: #974578;
	text-decoration: none;
}
a:hover {
	color: #974578;
	text-decoration: underline;
}
a:active, a:focus {
	outline: none;
}
small {
	color: #777;
	font-size: 11px;
	line-height: 16px;
	margin: 0;
}
blockquote {
	margin: 0 20px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	text-indent: 1em;
	background: #efefef url(images/bg-blockquote.png) no-repeat left top;
}
blockquote p {
	padding: 8px 10px 9px 25px;
}
ul {
	margin: 0;
	padding: 4px 25px 12px 65px;
	list-style-type: disc;
	list-style-image: none;
}
ul ul, ol ul {
	padding: 10px 16px 0 50px;
	list-style-type: circle;
}
ol {
	margin: 0;
	padding: 4px 25px 12px 65px;
}
ol ol, ul ol {
	padding: 10px 25px 0 50px;
}
li {
	padding: 0 0 6px 0;
}
strong {
	color: #555;
	font-weight: bold;
}


#elcentro {
	display: inline-block;
	max-width: 960px;
	width: 100%;
	height: auto;
	margin: 5% auto;
	border-bottom: 1px solid #B6B6B5;
	padding-bottom: 5%;
}
#elcentro-left {
	float: left;
	/*max-width: 330px;*/
	width: 44%;
	height: auto;
	min-height: 325px;
	margin: 0 10px 0 0;
	border: 4px solid #83396B;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	/*background-color: #fff;*/
	background: #f9f9fb; /* Old browsers */
	background: url(images/bg-elcentro-left.png) no-repeat center center, -moz-linear-gradient(-45deg,  #f9f9fb 1%, #f0e7f3 44%, #f0e7f3 58%, #f0e7f3 58%, #f9fafb 64%, #f9fafb 100%); /* FF3.6+ */
	background: url(images/bg-elcentro-left.png) no-repeat center center, -webkit-gradient(linear, left top, right bottom, color-stop(1%,#f9f9fb), color-stop(44%,#f0e7f3), color-stop(58%,#f0e7f3), color-stop(58%,#f0e7f3), color-stop(64%,#f9fafb), color-stop(100%,#f9fafb)); /* Chrome,Safari4+ */
	background: url(images/bg-elcentro-left.png) no-repeat center center, -webkit-linear-gradient(-45deg,  #f9f9fb 1%,#f0e7f3 44%,#f0e7f3 58%,#f0e7f3 58%,#f9fafb 64%,#f9fafb 100%); /* Chrome10+,Safari5.1+ */
	background: url(images/bg-elcentro-left.png) no-repeat center center, -o-linear-gradient(-45deg,  #f9f9fb 1%,#f0e7f3 44%,#f0e7f3 58%,#f0e7f3 58%,#f9fafb 64%,#f9fafb 100%); /* Opera 11.10+ */
	background: url(images/bg-elcentro-left.png) no-repeat center center, -ms-linear-gradient(-45deg,  #f9f9fb 1%,#f0e7f3 44%,#f0e7f3 58%,#f0e7f3 58%,#f9fafb 64%,#f9fafb 100%); /* IE10+ */
	background: url(images/bg-elcentro-left.png) no-repeat center center, linear-gradient(135deg,  #f9f9fb 1%,#f0e7f3 44%,#f0e7f3 58%,#f0e7f3 58%,#f9fafb 64%,#f9fafb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9fb', endColorstr='#f9fafb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#elcentro-left h2 {
	/*color: #5E5E5E;*/
	color: #83396B;
	margin: 2.200em auto 2em;
	padding: 0;
	font-size: 2.500em;
	text-align: center;
	letter-spacing: -0.030em;
}
#elcentro-left h2 span {
	text-align: left !important;
	color: #83396B;
}
#elcentro-left h2 .green {
	text-align: left !important;
	color: #009052;
}
#elcentro-right {
	position: relative;
	float: right;
	/*max-width: 560px;*/
	width: 52%;
	height: auto;
	margin: 0;
}
#elcentro-right img {
	/*position: absolute;*/
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border-color: #B6B6B5;
	border-width: 1px;
	border-style: solid;
	margin: 0;
	max-width: 100%;
	height: auto;
}
@media only screen and (max-width: 767px) {
	#elcentro-right {
		width: 100%;
	}
	#elcentro-left {
		margin-bottom: 1em;
		width: 98%;
	}
	#elcentro-right {
		text-align: center;
	}
	#elcentro-right img {
		margin-top: 2em;
	}
}


#actualidad {
	float: left;
	max-width: 940px;
	width: 100%;
	height: 51px;
	/*background: transparent url(images/bg-actualidad.png) no-repeat left center;*/
	margin: 0 10px 38px 10px;
}
#actualidad a {
	font-size: 3.8em;
	text-transform: uppercase;
	color: #FFF;
	font-family: 'Terminal Dosis Light', arial, serif;
	text-shadow: 1px 1px 2px #666;
	padding: 0.100em 1em;
	background-color: #B6B6B5;
	-webkit-border-radius: 14px;
	border-radius: 14px;
}

.col3-wrapper {
	display: inline-block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
}
.col3 {
	float: left;
	/*max-width: 300px;*/
	width: 30%;
	height: auto;
	font-size: 1.2em;
	line-height: 20px;
	margin: 0 2.2% 25px;
	background-color: #FFF;
	/*padding: 5px 10px;*/
	/*background: transparent url(images/bg-col3.png) no-repeat center center;*/
	border: 1px solid #B6B6B5;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	overflow: hidden; 
}
.col3:first-of-type {
	margin-left: 0;
}
.col3:nth-last-of-type(3) {
	margin-right: 0;
}
@media only screen and (max-width: 640px) {
	.col3 {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

.home-photo {
	display: block;
	width: 270px;
	height: 125px;
	text-indent: -9999px;
	background: #0e0e0e center center no-repeat;
}
.button {
	padding: 6px 12px;
	background: #F3EAF6;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.post {
	margin-bottom: 40px;
}
.pagination {
	display: block;
	font-size: 15px;
	text-align: center;
	margin: 15px 0 30px 0;
	line-height: 3em;
}
.morepage-list { clear: both; }

.pagination a, .pagination .on, .morepage-list a, .morepage-list .on {
	font-size: 14px;
	text-align: center;
	margin: 0 4px 0 0;
	padding: 10px 14px;
	border: 1px solid #B6B6B5;
	-webkit-border-radius: 18px;
	border-radius: 18px;
}
.pagination a strong { font-weight: normal; }

.pagination .on, .morepage-list .on {
	font-size: 14px;
	padding: 11px 15px;
	color: #FFF;
	font-weight: normal;
	background: #B6B6B5;
	border: 1px solid #EFEFEF;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

#col-left h2 {
	width: 100%;
	font-size: 3.8em;
	line-height: normal;
	padding: 0;
	color: #5E5E5E;
}
#col-left h3 {
	font-size: 2.7em;
	line-height: normal;
	color: #974578;
}
#col-left h4 {
	font-size: 2.4em;
	line-height: normal;
}
#col-left p, #col-left li {
	font-size: 1.5em;
	font-weight: normal;
	line-height: 1.5em;
}
#col-left li {
	list-style-image: url(images/bg-li-col-left.gif);
}

.content-alignleft {
	width: 300px;
	float: left;
	margin-bottom: 20px;
}

.postmetadata {
	clear: both;
	margin: 5px 25px 0;
	padding: 12px 15px 15px 15px;
	color: #555;
	font-size: 1.1em;
	line-height: 1.3em;
	background: #F1E9F4;
	border-top: 1px solid #B6B6B5;
	border-bottom: 1px solid #B6B6B5;
}

.postmetadata a { color: #555; text-decoration: underline; }
.postmetadata a:hover { color: #555; text-decoration: none; }

form {
	margin: 0;
	padding: 2px 25px 16px 25px;
}

form p { padding-left: 0; padding-right: 0; }


/* Comments */

#comments {
	background-color: #FFF;
	border: 1px solid #B6B6B5;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	-o-border-radius: 16px;
	border-radius: 16px;
	margin-left: 13px;
	margin-top: 10px;
	padding: 0;
}
.page #comments {
	display: none;
}
.commentlist {
	padding: 0;
	margin: 0 25px;
	text-align: justify;
}

.commentmetadata {
	margin: 0;
	display: block;
	font-weight: normal;
}	
	
.commentlist p {
	font-weight: normal;
	line-height: 1.5em;
	font-size: 1em !important;
	text-transform: none;
	margin: 10px 5px 10px 0;
}

.commentlist li {
	margin: 15px 0 10px;
	padding: 5px 5px 10px 10px;
	list-style: none !important;
}

.commentlist li.depth-1 {	list-style: none; }
	
.commentlist li ul li {
	margin-right: -5px;
	margin-left: 10px;
}

.commentlist li .avatar { 
	float: right;
	padding: 2px;
	background: #fff;
	border: 1px solid #d7d86f;
}
	
.children {
	padding: 0;
}

.children .comment-body {
	font-size: 0.6em !important;
}

.nocomments {
	color: #777;
	text-align: center;
	margin: 0;
	padding: 0;
}

.bypostauthor {}

#commentform {
	margin: 5px 10px 0 0;
}
	
#commentform p {
	margin: 5px 0;
}

#commentform input {
	width: 170px;
	padding: 4px 3px;
	color: #666;
	font-family: arial, tahoma, verdana, helvetica, sans-serif;
	font-size: 14px;
	background: #fff;
	border: 1px solid #B6B6B5;
	margin-left: 10px;
}
	
#commentform textarea {
	width: 100%;
	padding: 4px 3px;
	color: #666;
	font-family: arial, tahoma, verdana, helvetica, sans-serif;
	font-size: 14px;
	background: #fff;
	border: 1px solid #B6B6B5;
}
	
#commentform #submit,
.wpcf7-form .wpcf7-submit {
	margin: 0;
	padding: 4px 3px;
	color: #fff;
	font-family: arial, tahoma, verdana, helvetica, sans-serif;
	font-size: 14px;
	cursor: pointer;
    text-shadow: 1px 1px 0 #9B9B9B;	
	background: #cdcdcd;
    border: 1px solid #828282;
    -moz-border-radius: 3px 3px 3px 3px;
	cursor: pointer;
}

#commentform #submit {
	float: right;
}

.wpcf7-form .wpcf7-submit {
	float: left;
}

#commentform #submit:hover,
.wpcf7-form .wpcf7-submit:hover { 
	background: #bbb;
    text-decoration: none;
}


/* Search form */

#searchform {
	margin: 10px 25px;
	padding: 0;
}

#searchform #s {
	float: left;
	width: 200px;
	color: #999;
	font-family: georgia, arial, tahoma, verdana, helvetica, sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: 14px;
	line-height: 19px;
	padding: 5px 6px;
	margin: 0 8px 0 0;
	background: #fff;
	border: 1px solid #cdcdcd;
}

#searchform #b-search {
	float: left; 
	width: 60px; 
	height: 29px; 
    margin: 0;
	padding: 0;
    color: #fff;
	font-size: 17px;
	font-family: 'Yanone Kaffeesatz', georgia, arial, tahoma, verdana, helvetica, sans-serif;
	font-style: normal;
	line-height: 28px;
    text-shadow: 1px 1px 0 #9B9B9B;	
	background: #cdcdcd;
    background: -moz-linear-gradient(center top , #cdcdcd 0%, #9B9B9B 100%) repeat scroll 0 0 transparent;
    border: 1px solid #828282;
    -moz-border-radius: 3px 3px 3px 3px;
	cursor: pointer;
}

#searchform #b-search:hover { 
	background: -moz-linear-gradient(center top , #E8E5E5 0%, #9B9B9B 100%) repeat scroll 0 0 transparent;
    text-decoration: none;
}


/* Various Tags & Classes */

.screen-reader-text {
    position: absolute;
    left: -1000em;
}

.thread-alt { background-color: #fff; }

.thread-even { background-color: #efefef; }

.depth-1 { border: 1px solid #b6b6b5; }

.even { border-left: 1px solid #b6b6b5; }

cite { font-weight: bold; }

address, pre, .myclass {
	margin: 0;
	padding: 2px 25px 16px 25px;
}


/* Right column styles */

#col-right h2 {
	width: 100%;
	height: 53px;
	margin: 0;
	padding: 0;
	/*background: transparent url(images/bg-actualidad-sidebar.png) no-repeat center center;*/
	background-color: #B6B6B5;
	-webkit-border-radius: 14px;
	border-radius: 14px;
}
#col-right h2 span {
	padding: 0 0 0 10px;
	font-size: 1.4em;
	line-height: 1.6em;
	text-transform: uppercase;
	color: #FFF;
	text-shadow: 1px 1px 2px #666;
}
#col-right ul, #col-right ul ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}
#col-right ul li {
	margin-bottom: 0;
	font-size: 2.4em;
	font-family: 'Terminal Dosis Light', arial, serif;
	/*text-shadow: 1px 1px 2px #666;*/
	padding: 10px 25px;
}


/* Tables */

table {
	padding: 0;
	margin: 2px 25px 16px 25px;
	border: 0;
}

table caption {
	color: #444;
	background: #ddd;
	padding: 5px 8px;
	font-family: arial, tahoma, verdana, helvetica, sans-serif;
	font-size: 17px;
	line-height: 21px;
	text-align: left;
	font-weight: bold;
	border-bottom: 1px solid #fff;
}

table thead tr th, table tr th {
	text-align: left;
	padding: 4px 8px;
	color: #777;
	background: #e7e7e7;
}

table tbody tr td, table tr td {
	padding: 3px 8px;
	color: #666;
	font-family: arial, tahoma, verdana, helvetica, sans-serif;
	font-size: 14px;
	line-height: 21px;
	vertical-align: middle;
	border-bottom: 1px solid #e7e7e7;
}

table tfoot tr td {
	color: #888;
	font-size: 11px;
	padding: 2px 8px;
}


/* Toolbox */

.aleft { text-align: left; }
.acenter { text-align: center; }
.aright { text-align: right; }

.fleft { float: left; }
.fright { float: right; }

.cboth { clear: both; }
.cleft { clear: left; }
.cright { clear: right; }


.home .sticky {
	margin: 0px 20px 30px 20px;
    padding: 0 0 12px 0;
    background: #fafaea;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-khtml-border-radius: 6px;
}

/* AddToAny */
.addtoany_share_save_container {
	margin: 0 10px 30px 18px !important;
}
#wpa2a_1 .a2a_dd.addtoany_share_save {
	font-size: 120% !important;
	margin-left: 10px;
}


/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
	max-width: 622px !important; /* prevent too-wide images from breaking layout */
}
.wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	padding: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}


/* Footer */
#bg-footer {
	float: left;
	clear: both;
	margin-top: 5%;
	max-width: 960px;
	width: 100%;
	min-height: 200px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	z-index: 999;
	-webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.6s ease-out;
	-ms-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
	background: #84386c;
	background: -moz-linear-gradient(-45deg,  #84386c 0%, #a25d8a 12%, #903c78 19%, #84386c 57%, #a5658e 66%, #903c78 94%, #873b6f 100%, #aa6991 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#84386c), color-stop(12%,#a25d8a), color-stop(19%,#903c78), color-stop(57%,#84386c), color-stop(66%,#a5658e), color-stop(94%,#903c78), color-stop(100%,#873b6f), color-stop(100%,#aa6991));
	background: -webkit-linear-gradient(-45deg,  #84386c 0%,#a25d8a 12%,#903c78 19%,#84386c 57%,#a5658e 66%,#903c78 94%,#873b6f 100%,#aa6991 100%);
	background: -o-linear-gradient(-45deg,  #84386c 0%,#a25d8a 12%,#903c78 19%,#84386c 57%,#a5658e 66%,#903c78 94%,#873b6f 100%,#aa6991 100%);
	background: -ms-linear-gradient(-45deg,  #84386c 0%,#a25d8a 12%,#903c78 19%,#84386c 57%,#a5658e 66%,#903c78 94%,#873b6f 100%,#aa6991 100%);
	background: linear-gradient(135deg,  #84386c 0%,#a25d8a 12%,#903c78 19%,#84386c 57%,#a5658e 66%,#903c78 94%,#873b6f 100%,#aa6991 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84386c', endColorstr='#aa6991',GradientType=1 );
}
#bg-footer:hover {
	background: #84386c;
	background: -moz-linear-gradient(-45deg,  #84386c 0%, #a25d8a 8%, #903c78 19%, #84386c 52%, #a5658e 60%, #903c78 83%, #873b6f 100%, #aa6991 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#84386c), color-stop(8%,#a25d8a), color-stop(19%,#903c78), color-stop(52%,#84386c), color-stop(60%,#a5658e), color-stop(83%,#903c78), color-stop(100%,#873b6f), color-stop(100%,#aa6991));
	background: -webkit-linear-gradient(-45deg,  #84386c 0%,#a25d8a 8%,#903c78 19%,#84386c 52%,#a5658e 60%,#903c78 83%,#873b6f 100%,#aa6991 100%);
	background: -o-linear-gradient(-45deg,  #84386c 0%,#a25d8a 8%,#903c78 19%,#84386c 52%,#a5658e 60%,#903c78 83%,#873b6f 100%,#aa6991 100%);
	background: -ms-linear-gradient(-45deg,  #84386c 0%,#a25d8a 8%,#903c78 19%,#84386c 52%,#a5658e 60%,#903c78 83%,#873b6f 100%,#aa6991 100%);
	background: linear-gradient(135deg,  #84386c 0%,#a25d8a 8%,#903c78 19%,#84386c 52%,#a5658e 60%,#903c78 83%,#873b6f 100%,#aa6991 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84386c', endColorstr='#aa6991',GradientType=1 );
}
#footer {
	/*clear: both;
	max-width: 960px;
	width: 100%;
	min-height: 200px;*/
	float: left;
	max-width: 944px;
	min-height: 184px;
	height: auto;
	border: 4px solid #fff;
	-webkit-border-radius: 18px 18px 18px 18px;
	border-radius: 18px 18px 18px 18px;
	color: #fff;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	/*background: transparent url(images/bg-footer.jpg) no-repeat center center;*/
	/*margin-top: 40px;*/
	margin: 4px;
	/*padding: 10px 20px;*/
}
#footer a {
	color: #fff;
}
#footer ul {
	display: inline-block;
}
#footer ul li {
	display: inline;
	list-style-type: none;
	line-height: 1.5;
}
#footer-top {
	display: table;
	max-width: 960px;
	height: 50px;
	float: left;
	margin: 10px 0 0;
	font-size: 2em;
	font-family: 'Terminal Dosis Light', arial, serif;
	text-shadow: 1px 1px 2px #222;
}
#footer-top #menu-footer {
	margin: 10px 0 0 25px;
	padding: 0;
}
#footer-top #menu-footer li {
	margin: 0 20px 0 0;
}
#search {
	float: right;
	margin: 0 25px 0 0;
	padding: 0;
}
#search h3 {
	font-family: georgia, arial, tahoma, verdana, helvetica, sans-serif;
	color: #C1C1C1;
	font-style: italic;
}
#search form {
	margin: 0;
	padding: 0;
}
#search label {
	float: left;
	padding: 7px 11px 0 0;
	line-height: 18px;
}
#search label.error {
	color: #fcb548;
	font-size: 1.4em; 
}
#search input {
	float: left;
	width: 150px !important;
	color: #999;
	font-weight: normal;
	font-size: 1.4em;
	line-height: 1.6em;
	padding: 5px 6px;
	margin: 0 8px 0 0;
	background: #fff;
	border: 2px solid #939;
	
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-khtml-border-radius: 6px;
}
#search #b-search { 
	float: left; 
	width: 80px !important; 
	height: 29px; 
    margin: 0;
	padding: 0;
    color: #fff;
	font-size: 1.7em;
	font-style: normal;
	line-height: 1.7em;
    text-shadow: 1px 1px 0 #9B9B9B;	
	background: #974578;
    border: 2px solid #FFF;
    -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-khtml-border-radius: 6px;
	cursor: pointer;
}
#search #b-search:hover { 
	background: #A36894;
    text-decoration: none;
}
#footer-btm {
	max-width: 960px;
	width: 100%;
	margin-top: 10px;
	float: right;
	text-align: center;
	font-size: 1.1em;
}
#footer-btm #menu-footer-admin {
	height: 20px;
	line-height: 20px;
}
#footer-btm #menu-footer-admin li {
	margin: 0 10px;
}

/* Contact form */
.wpcf7 input,
.wpcf7 textarea {
	border: 1px solid #974578;
	-webkit-border-radius: 0;
	border-radius: 0;
	padding: 0.500em;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.wpcf7 input:hover,
.wpcf7 textarea:hover,
.wpcf7 input:focus,
.wpcf7 textarea:focus {
	border-color: #9B9B9B;
}
.wpcf7 input[type="submit"] {
	background-color: #974578;
	border: 1px solid #974578;
	padding: 0.500em 1em;
	text-transform: uppercase;
	text-shadow: none;
}
.wpcf7 input[type="submit"]:hover,
.wpcf7 input[type="submit"]:focus {
	background-color: #fff;
	color: #974578;
}


/* Style classes */
.purple {
	color: #83396B;
	font-family: 'Terminal Dosis Light', arial, serif;
	font-size: 1.400em;
}