/*! Main */
// Things like styles for html, body, h1-h6, strong, em
// Essentially anything that is an element I just want changed everywhere. Sort of a catchall.
// ===========================================================================================

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif; 
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
}

button:focus,
input:focus {
  outline: 0;
}

.login input {
  -webkit-appearance: none;
 }

