/*! Media queries */
// ===================================================================

/* Those wide screens above 1280px */
@media only screen and (min-width: 1281px) {
  body{

  }
  article .title {

  }
  article .post-meta {

  }
  .menu-main-nav-container a,
  .side-title,
  .menu-main-container a {

  }
  #sidebar {

  }
  #sidebar h3 {

  }
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  .side-title {
 
  }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .side-title {
 
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .side-title {
 
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body,
  article .post-meta {

  }
  article .title {

  }
  .site-title {

  }
  .menu-main-nav-container a,
  .side-title,
  .menu-main-container a {

  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  body,
  article .post-meta {

  }
  article .title {

  }
  .site-title {

  }
  .menu-main-nav-container a,
  .side-title,
  .menu-main-container a {

  }
}