/*! Mixins */
// ==========================================================================

// Typography
// =============
/* Font face */
@font-face {
    font-family: 'quicksandbold';
    src: url('../fonts/quicksand-bold-webfont.eot');
    src: url('../fonts/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-bold-webfont.svg#quicksandbold') format('svg'),
         url('../fonts/quicksand-bold-webfont.woff') format('woff'),
         url('../fonts/quicksand-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Border radius
//===============
.border-radius4 (@radius: 4px) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
         -o-border-radius: @radius;
            border-radius: @radius;
}

// Opacity, Gradients
//==================
.opacity(@opacity: 1) {
  @ieOpacity: @opacity * 100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{ieOpacity})";
  filter: ~"alpha(opacity=@{ieOpacity})"; 
  opacity: @opacity;
}

// Animations
//===============
.transition02 (@who: all, @length: 0.2s) {
  -webkit-transition: @who @length;
     -moz-transition: @who @length;
       -o-transition: @who @length;
      -ms-transition: @who @length;
          transition: @who @length;
}

.transition04 (@who: all, @length: 0.4s) {
  -webkit-transition: @who @length;
     -moz-transition: @who @length;
       -o-transition: @who @length;
      -ms-transition: @who @length;
          transition: @who @length;
}

.animation1 (@name: fadeIn, @duration: 1s, @delay: 1s, @ease: ease) {
  -webkit-animation: @name @duration @delay @ease;
  -moz-animation:    @name @duration @delay @ease;
  -ms-animation:     @name @duration @delay @ease;
  -o-animation:      @name @duration @delay @ease;
  animation:         @name @duration @delay @ease;
}

.animation2 (@name: fadeIn, @duration: 1s, @delay: 5s, @ease: ease) {
  -webkit-animation: @name @duration @delay @ease;
  -moz-animation:    @name @duration @delay @ease;
  -ms-animation:     @name @duration @delay @ease;
  -o-animation:      @name @duration @delay @ease;
  animation:         @name @duration @delay @ease;
}

@-webkit-keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
}

@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
}

.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}

.rotate45 (@deg: 45deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform:    rotate(@deg);
  -ms-transform:     rotate(@deg);
  -o-transform:      rotate(@deg);
}

.rotate360 (@deg: 360deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform:    rotate(@deg);
  -ms-transform:     rotate(@deg);
  -o-transform:      rotate(@deg);
}

/* Arrow */
.arrow a,
.arrow2 a {
  //float: left;
  width: 50px;
  height: 50px;
  //background: #E7E6DD;
  -moz-animation: zoom-out 3s infinite both;
  -webkit-animation: zoom-out 3s infinite both;
  animation: zoom-out 3s infinite both;
}


@-moz-keyframes zoom-out {
  from, to {
    -moz-transform: scale3d(0.5,0.5,0.5);
  }
  45%,55% {
    -moz-transform: scale3d(1,0.5,1);
  }
}

@-webkit-keyframes zoom-out {
  from, to {
    -webkit-transform: scale3d(0.5,0.5,0.5);
  }
  45%,55% {
    -webkit-transform: scale3d(1,0.5,1);
  }
}

@keyframes zoom-out {
  from, to {
    transform: scale3d(0.5,0.5,0.5);
  }
  45%,55% {
    transform: scale3d(1,0.5,1);
  }
}