/*********************************************
  * Filename: style.css
  * Website: http://www.masajecaliforniano.com/
  * Author: Sergi Duran
  * Author URI: http://sokvist.com
  * Date: 30/05/2014
  * Version: 1.0
*********************************************/

@import "normalize.less";

@import "variables.less";
@import "mixins.less";
@import "main.less";

/*! Style.css */

// Global
// ---------------------------------------------------------------------------

html { 
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; 
}

body {
  font: 16px/26px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  background-color: white;
  color: black;
}

a {
  color: grey;
  text-decoration: none;
  .transition04;
}

a:hover,
a:focus {
  color: #fff;
}

.spazio {
  color: #B11B7C;
}

/*--------------------------------------
    STRUCTURE
--------------------------------------*/

/* wrapper */
.wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
/* header */
.header {

}
/* logo */
.logo {

}
.logo-img {

}
/* nav */
.nav {

}
/* sidebar */
.sidebar {

}
/* footer */
.footer {

}

/*--------------------------------------
    PAGES
--------------------------------------*/



/*--------------------------------------
    POSTS
--------------------------------------*/
article {

}
article .title {

}
article .title a {

}
article .title a:hover {

}
article .post-meta {

}
article .post-meta a {

}
article .post-meta a:hover {

}
article .the-content a {

}
article .the-content p {

}
article .the-content img {

}
article .meta {

}
article .meta div {

}
article .meta .post-categories {

}
article .meta .post-categories li {

}
/* Page loop styling */
.page article {

}
.page article .title {

}
/* Pagination */
#pagination {

}
#pagination .past-page {

}
#pagination .next-page {

}
.next-page a, .past-page a {

}
/* Comments */
.commentlist {

}
.commentlist .comment {

}
.commentlist .comment .children {

}
.commentlist .comment-author {

}
.commentlist .comment-author img {

}
.commentlist .comment-author .says {

}
.comment-meta {

}
.comment-subscription-form,
.comment-subscription-form {

}
#respond {

}
#respond > h3 {

}
#respond form label {

}


/*--------------------------------------
    IMAGES
--------------------------------------*/



/*--------------------------------------
    WORDPRESS CORE
--------------------------------------*/

.alignnone {
  margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display:block;
  margin:5px auto 5px auto;
}
.alignright {
  float:right;
  margin:5px 0 20px 20px;
}
.alignleft {
  float:left;
  margin:5px 20px 20px 0;
}
a img.alignright {
  float:right;
  margin:5px 0 20px 20px;
}
a img.alignnone {
  margin:5px 20px 20px 0;
}
a img.alignleft {
  float:left;
  margin:5px 20px 20px 0;
}
a img.aligncenter {
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.wp-caption {
  background:#FFF;
  border:1px solid #F0F0F0;
  max-width:96%;
  padding:5px 3px 10px;
  text-align:center;
}
.wp-caption.alignnone {
  margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin:5px 20px 20px 0;
}
.wp-caption.alignright {
  margin:5px 0 20px 20px;
}
.wp-caption img {
  border:0 none;
  height:auto;
  margin:0;
  max-width:98.5%;
  padding:0;
  width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
  font-size:11px;
  line-height:17px;
  margin:0;
  padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}




// Media queries & plugins
// ---------------------------------------------------------------------------

@import "thumper.less";
@import "plugins.less";
@import "media-queries.less";
